! rxvt

URxvt*termName:                       rxvt-unicode
URxvt*scrollstyle:                    false
URxvt*scrollBar:                      false

URxvt*borderLess:                     false
URxvt*internalBorder:                 0
URxvt*externamBorder:                 0

URxvt*background:                     [85]#000000
URxvt*foreground:                     [100]#ffffff
URxvt*color0:                         #2f2e2d
URxvt*color1:                         #a36666
URxvt*color2:                         #8fa57e
URxvt*color3:                         #d7af87
URxvt*color4:                         #7fa5bd
URxvt*color5:                         #c79ec4
URxvt*color6:                         #8adbb4
URxvt*color7:                         #d0d0d0
URxvt*color8:                         #4a4845
URxvt*color9:                         #d78787
URxvt*color10:                        #a9ba9c
URxvt*color11:                        #e4c9af
URxvt*color12:                        #a1bdce
URxvt*color13:                        #d7beda
URxvt*color14:                        #b1e7dd
URxvt*color15:                        #efefef

URxvt*font:                           xft:Inconsolata:style=Semibold:pixelsize=14:antialias=true:hinting=slight
URxvt*boldFont:                       xft:Inconsolata:style=bold:pixelsize=14:antialias=true:hinting=slight
URxvt*saveLines:                      5000
